.Monster
  position: absolute
  width: 15vh
  padding: 1vh
  border-radius: 1em
  transition: all .3s ease-out

.MonsterHpBar
  width: 100%
  height: 1vh
  border-radius: .5em
  box-shadow: 0 0 0 .2em rgba(23,20,20,.5)
  transition: all .3s ease-out