@use './library'

.Home
  font-size: 1rem
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background: #242423
  color: #f5cb5c